@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zen-bg-light text-zen-text-light transition-colors duration-300;
  }
  
  html.dark body {
    @apply bg-zen-bg-dark text-zen-text-dark;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-medium;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
